<%
  const { title, chunkName, spmb, heads, bodies, env, assets_url } = htmlWebpackPlugin.options
  const common = htmlWebpackPlugin.files.chunks.common
  const chunk = htmlWebpackPlugin.files.chunks[chunkName]
  const commonCSS = common && common.css[0]
  const commonJS = common && common.entry
  const version = '?v=' + (+ new Date())
  const chunkCSS = chunk && chunk.css[0]
  const chunkJS = chunk && chunk.entry

  const portalChunk = htmlWebpackPlugin.files.chunks.portal
  const portalJs = portalChunk && portalChunk.entry
%>
<!DOCTYPE html>
<html lang="zh">
<head>
  <title><%- title %></title>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <% for(let i = 0; i < heads.length; i++) { %>
    <%= heads[i] %>
  <% } %>
  <script src="https://gw.alipayobjects.com/as/g/component/babel-polyfill/6.20.0/polyfill.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/lib/systemjs/0.20.19/dist/system.js"></script>
</head>
<body<% if (spmb) { %> data-aspm="<%= spmb %>"<% } %>>
  <!-- <%= JSON.stringify(htmlWebpackPlugin, null, 2) %> -->
  <main></main>
  <% for(let i = 0; i < bodies.length; i++) { %>
    <%= bodies[i] %>
  <% } %>
  <script src="<%= assets_url %><%= portalJs %><%= version %>"></script>
</body>
</html>
